.directory
*/.directory
*/*/.directory
*/*.o
*/.out
*/*.out
*.plist

Sandbox/ProActivesVPS/a.out

Sandbox/ProActivesVPS/fibo

Sandbox/ProActivesVPS/fibo.dSYM/Contents/Resources/DWARF/fibo

Sandbox/ProActivesVPS/fino.dSYM/Contents/Resources/DWARF/fino
